html, body {

    width: 100%;
    height: 100%;
}

.box {
    height: 20%;
    width: 100%;
    background-color: lightblue;
}

@media screen and (max-width: 500px) {

        .box {
    background-color: lightcoral;
        }   
}

@media screen and (min-width: 600px) and (max-width: 1000px)and (orientation: landscape) {
        .box {
            background-color: slategray;
        }
}

li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border: 1px solid black;
    margin: 15px;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}

@media screen and (max-width: 450px) and (orientation: portrait) {
    .box {
        height: 100%;
        width: 40%;
    }
    ul {
        flex-direction: column;
        padding-left: 0;

    } 

    li {
        margin-top: 50px;
    }
}





.small-box {

    width: 100px;
    height: 100px;
    margin: 5px;

}

